@import
'../mixins.scss';
*{
  @include mp_0;
}
html{
  font-size: 10px;
  overflow-x: hidden;
}
a{
  @include black_classic_a;
  font-size: 2rem;
}
h2{
  font:{
    size: 2.8rem;
    weight: 500;
  }
}
p{
  color: gray;
  letter-spacing: 0.08rem;
  font:{
    size: 1.8rem;
    weight: 300;
  }
}
.section_1_active{
  border: 1px solid green;
  color: green;
}
.orange{
  @include orange_span(4rem);
}
button{
  cursor: pointer;
  font-size: 1.6rem;
}
.display_none{
  visibility: hidden;
}
.standart_button{
  width: 100%;
  height: 15%;
  border: 1px solid green;
  color: green;
  background: rgba(0, 0, 0, 0);
  border-radius: 4rem;
  transition: all .2s;
  font-size: 2rem;

  &:hover{
    background-color: green;
    color: white;
  }
}
header{
  @include fixed;
  background: white;
  width: 100vw;
  height: 8vh;
  @include flex-center;

  nav{
    width: 70%;
    height: 100%;
    @include flex-between;

    img{
      cursor: pointer;
    }
    .nav_menu{
      width: 40%;
      height: 100%;
      @include flex-between;
    }
    .nav_button{
      width: 30%;
      height: 100%;
      @include flex-between;

      button{
        border: none;
        @include flex-center;
        background: transparent;
      }
      .profile{
        width: 17%;
      }
    }
  }
}
main{
  position: relative;
  top: 10vh;
  width: 100vw;
  height: 210vh;
  @include flex-between-column;

  .section_1{
    width: 70%;
    height: 100%;
    @include flex-between-column;

    h2{
      &:first-child{
        font-size: 4rem;
      }
    }
    .s_1_cont{
      width: 100%;
      height: 93%;
      @include grid(4, 5, 1%);

      .s_1_card{
        border-radius: 3rem;
        border: #e1e1e1 solid 1px;
        width: 100%;
        height: 100%;
        @include flex-between-column;
        align-items: start;

        img{
          width: 100%;
        }
        h2{
          width: 45%;
          @include flex-center;
        }
        span{
          width: 40%;
          height: 20%;
          @include flex-center;
          color: green;
          font-size: 2.5rem;
        }
      }
      .worker{
        width: 100%;
        height: 30%;
        @include flex-between-column;
        align-items: start;

        .profile_block{
          position: relative;
          left: 5%;
          width: 100%;
          height: 60%;
          @include flex-between;

          img{
            width: 25%;
          }
          .name{
            width: 70%;
            height: 90%;
            @include flex-between-column;
            align-items: start;

            h2{
              font-size: 2.5rem;
            }
          }
        }
        .stars{
          position: relative;
          left: 5%;
          width: 50%;
          height: 30%;
          @include flex-between;

          img{
            cursor: pointer;
            width: 18%;
          }
        }
      }
    }
    button{
      width: 30%;
      height: 2.5%;
      @include load_more;
    }
  }
}
footer{
  position: relative;
  top: 10vh;
  width: 100%;
  height: 35vh;
  @include flex-center;

  section{
    width: 70%;
    height: 90%;
    @include flex-between-column;

    div{
      &:first-child{
        width: 100%;
        height: 60%;
        @include flex-between;
        align-items: start;

        h2{
          font-size: 3.5rem;
        }
        .s_5_block{
          width: 15%;
          height: 100%;
          @include flex-between-column;
          justify-content: start;
          align-items: start;

          p{
            cursor: pointer;
            line-height: 200%;

            &:first-child{
              line-height: 300%;
            }
          }
        }
        .web{
          width: 20%;
          height: 60%;
          @include flex-between-column;
          align-items: start;

          .list{
            width: 100%;
            height: 50%;
            @include flex-between;

            img{
              cursor: pointer;
              transition: 0.2s;

              &:hover{
                mask-image: linear-gradient(rgba(0, 128, 0, 1), rgba(0, 128, 0, 1));
              }
            }
          }
        }
      }
      &:last-child{
        width: 60%;
        height: 20%;
        @include flex-center;
      }
    }
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 8px; // Уменьшаем базовый размер шрифта
  }

  header {
    height: 7vh; // Уменьшаем высоту хедера

    nav {
      width: 80%; // Увеличиваем ширину навигации

      img {
        width: 80%; // Уменьшаем размер иконок
      }

      .nav_menu {
        width: 50%; // Уменьшаем ширину меню
      }

      .nav_button {
        width: 35%; // Уменьшаем ширину кнопок

        .profile {
          width: 20%; // Уменьшаем ширину профиля
        }
      }
    }
  }

  main {
    height: 280vh;
    top: 8vh; // Уменьшаем отступ сверху

    .section_1 {
      width: 80%; // Уменьшаем ширину секции
      height: 420vh; // Увеличиваем высоту секции

      h2 {
        font-size: 3.5rem; // Уменьшаем размер заголовка
      }

      .s_1_cont {
        @include grid(3, 7, 1%); // Изменяем сетку на 3x5
      }

      button {
        width: 40%; // Увеличиваем ширину кнопки
      }
    }
  }

  footer {
    height: 30vh; // Уменьшаем высоту футера

    section {
      width: 80%; // Уменьшаем ширину секции футера

      div {
        &:first-child {
          .s_5_block {
            width: 20%; // Увеличиваем ширину блоков
          }

          .web {
            width: 25%; // Увеличиваем ширину блока с иконками
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  html {
    font-size: 7px; // Уменьшаем базовый размер шрифта
  }

  header {
    height: 6vh; // Уменьшаем высоту хедера

    nav {
      .nav_menu {
        display: none; // Скрываем меню навигации
      }

      .nav_button {
        width: 40%; // Увеличиваем ширину кнопок

        .profile {
          width: 25%; // Увеличиваем ширину профиля
        }
      }
    }
  }

  main {
    top: 7vh; // Уменьшаем отступ сверху
    height: 300vh;

    .section_1 {
      width: 90%; // Увеличиваем ширину секции

      h2 {
        font-size: 3rem; // Уменьшаем размер заголовка
      }

      .s_1_cont {
        @include grid(2, 10, 1%); // Изменяем сетку на 2x5

        div{
          &:last-child{
            display: none;
          }
        }
        .s_1_card{
          &:last-child{
            display: none;
          }
        }
      }

      button {
        width: 50%; // Увеличиваем ширину кнопки
      }
    }
  }

  footer {
    height: 25vh; // Уменьшаем высоту футера

    section {
      width: 90%; // Увеличиваем ширину секции футера

      div {
        &:first-child {
          .s_5_block {
            width: 25%; // Увеличиваем ширину блоков
          }

          .web {
            width: 30%; // Увеличиваем ширину блока с иконками
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
  html {
    font-size: 6px; // Уменьшаем базовый размер шрифта
  }

  header {
    height: 5vh; // Уменьшаем высоту хедера

    nav {
      .nav_button {
        width: 50%; // Увеличиваем ширину кнопок

        button {
          display: none; // Скрываем кнопки
        }

        .profile {
          width: 30%; // Увеличиваем ширину профиля
        }
      }
    }
  }

  main {
    height: 520vh;
    top: 6vh; // Уменьшаем отступ сверху

    .section_1 {
      width: 95%; // Увеличиваем ширину секции
      height: 240vh; // Увеличиваем высоту секции

      h2 {
        font-size: 2.5rem; // Уменьшаем размер заголовка
      }

      .s_1_cont {
        @include grid(1, 18, 1%); // Изменяем сетку на 1x5
      }

      button {
        position: relative;
        top: 115%;
        width: 60%; // Увеличиваем ширину кнопки
      }
    }
  }

  footer {
    height: 20vh; // Уменьшаем высоту футера

    section {
      width: 95%; // Увеличиваем ширину секции футера

      div {
        &:first-child {
          .s_5_block {
            width: 30%; // Увеличиваем ширину блоков
          }

          .web {
            width: 35%; // Увеличиваем ширину блока с иконками

            .list img {
              width: 25%; // Уменьшаем размер иконок
            }
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  html {
    font-size: 5px; // Уменьшаем базовый размер шрифта
  }

  header {
    height: 5vh; // Уменьшаем высоту хедера

    nav {
      .nav_button {
        width: 60%; // Увеличиваем ширину кнопок

        .profile {
          width: 35%; // Увеличиваем ширину профиля
        }
      }
    }
  }

  main {
    height: 420vh;
    top: 6vh; // Уменьшаем отступ сверху

    .section_1 {
      width: 95%; // Увеличиваем ширину секции
      height: 260vh; // Увеличиваем высоту секции

      h2 {
        font-size: 2.2rem; // Уменьшаем размер заголовка
      }

      .s_1_cont {
        @include grid(1, 5, 1%); // Изменяем сетку на 1x5
      }

      button {
        top: 60%;
        width: 70%; // Увеличиваем ширину кнопки
      }
    }
  }

  footer {
    height: 18vh; // Уменьшаем высоту футера

    section {
      width: 95%; // Увеличиваем ширину секции футера

      div {
        &:first-child {
          .s_5_block {
            width: 35%; // Увеличиваем ширину блоков
          }

          .web {
            width: 40%; // Увеличиваем ширину блока с иконками

            .list img {
              width: 25%; // Уменьшаем размер иконок
            }
          }
        }
      }
    }
  }
}