@import
'../mixins.scss';
*{
  @include mp_0;
}
html{
  font-size: 10px;
  overflow-x: hidden;
}
a{
  @include black_classic_a;
  font-size: 2rem;
}
.orange_span{
  @include orange_span(2.5rem);
}
.show{
  display: flex !important;
  @include flex-center;
  scrollbar-width: none;
}
h1{
  font:{
    size: 3.5rem;
    weight: 500;
  }
}
h2{
  font:{
    size: 2.8rem;
    weight: 500;
  }
}
p{
  color: gray;
  letter-spacing: 0.08rem;
  font:{
    size: 1.8rem;
    weight: 300;
  }
}
.section_1_active{
  border: 1px solid green;
  color: green;
}
button{
  cursor: pointer;
  font-size: 1.6rem;
}
.display_none{
  visibility: hidden;
}
.gray_button{
  width: 20%;
  height: 30%;
  border: none;
  color: gray;
  background: rgba(203, 203, 203, 1);
  border-radius: 4rem;
  transition: all .2s;
  font-size: 2rem;
}
.standart_button{
  width: 20%;
  height: 30%;
  border: 1px solid green;
  color: green;
  background: rgba(0, 0, 0, 0);
  border-radius: 4rem;
  transition: all .2s;
  font-size: 2rem;

  &:hover{
    background-color: green;
    color: white;
  }
}
header{
  @include fixed;
  background: white;
  width: 100vw;
  height: 8vh;
  @include flex-center;

  nav{
    width: 70%;
    height: 100%;
    @include flex-between;

    img{
      cursor: pointer;
    }
    .nav_menu{
      width: 40%;
      height: 100%;
      @include flex-between;
    }
    .nav_button{
      width: 30%;
      height: 100%;
      @include flex-between;

      button{
        border: none;
        @include flex-center;
        background: transparent;
      }
      .profile{
        width: 17%;
      }
    }
  }
}
main{
  position: relative;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  @include flex-between-column;

  .section_1{
    @include flex-between-column;
    width: 70%;
    height: 70%;

    .s_1_block{
      width: 100%;
      height: 80%;
      @include flex-center;

      img{
        width: 40%;
      }
    }
  }
  .button_block{
    width: 70%;
    height: 20%;
    @include flex-between;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 9px;
  }

  header {
    height: 7vh; // Уменьшена высота header

    nav {
      width: 80%;

      img {
        width: 80%;
      }

      .nav_menu {
        width: 50%;
      }

      .nav_button {
        width: 30%;

        .profile {
          width: 20%;
        }
      }
    }
  }

  main {
    img {
      width: 100%;
    }

    .section_1 {
      width: 80%;

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2.5rem;
      }

      .s_1_block {
        img {
          width: 50%; // Увеличение ширины изображения
        }
      }
    }

    .button_block {
      width: 80%;
    }
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }

  header {
    height: 6vh; // Уменьшена высота header

    nav {
      width: 90%;

      .nav_menu {
        width: 60%;

        a {
          font-size: 1.8rem;
        }
      }

      .nav_button {
        width: 40%;

        .profile {
          width: 25%;
        }

        img {
          width: 80%;
        }
      }
    }
  }

  main {
    .section_1 {
      width: 90%;

      h1 {
        font-size: 2.8rem;
      }

      h2 {
        font-size: 2.2rem;
      }

      .s_1_block {
        img {
          width: 60%; // Увеличение ширины изображения
        }
      }
    }

    .button_block {
      width: 90%;
    }
  }
}

@media (max-width: 425px) {
  html {
    font-size: 7px;
  }

  header {
    height: 5vh; // Уменьшена высота header

    nav {
      width: 95%;

      .nav_menu {
        width: 70%;
        display: none; // Скрыто меню навигации
      }

      .nav_button {
        width: 50%;

        button {
          display: none; // Скрыты кнопки
        }

        .profile {
          width: 30%;
        }

        img {
          width: 70%;
        }
      }
    }
  }

  main {
    .section_1 {
      width: 95%;

      h1 {
        font-size: 2.5rem;
      }

      h2 {
        font-size: 2rem;
      }

      .s_1_block {
        img {
          width: 80%; // Увеличение ширины изображения
        }
      }
    }

    .button_block {
      width: 95%;

      button {
        width: 35%;
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 375px) {
  html {
    font-size: 6px;
  }

  header {
    height: 5vh; // Уменьшена высота header

    nav {
      width: 95%;

      .nav_menu {
        width: 80%;
        display: none; // Скрыто меню навигации
      }

      .nav_button {
        width: 60%;

        button {
          display: none; // Скрыты кнопки
        }

        .profile {
          width: 35%;
        }

        img {
          width: 60%;
        }
      }
    }
  }

  main {
    .section_1 {
      width: 95%;

      h1 {
        font-size: 2.5rem;
      }

      h2 {
        font-size: 2rem;
      }

      .s_1_block {
        img {
          width: 90%; // Увеличение ширины изображения
        }
      }
    }

    .button_block {
      width: 95%;

      button {
        width: 35%;
        font-size: 2rem;
      }
    }
  }
}